body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: lightgray;
  position: absolute; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.plt-test__title {
  padding-top: 10%;
  padding-bottom: 5%;
}

.plt-test__details {
  margin-top: 10%;
}
